.home-page {
    .banner img {
        // height: 300px;
        height: auto;
        width: 100%;
        margin-bottom: 32px;
    }

    .category-card {
        min-height: 230px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        margin-bottom: 16px;
        box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
    
        &:nth-child(2n) {
            flex-direction: row-reverse;
        }

        .category-image {
            height: 100%;
            width: 40%;
        }

        .content {
            height: 100%;
            width: 60%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .description {
                font-weight: 500;
            }
        }
    }
}